<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
</head>

<body>
  <h1>Movies</h1>
  <% movies.each do |movie|%>
    <ul>
      <li>
        <h3> <%= movie[:title] %> </h3>
      </li>
        <ul>
          <li>Year: <%= movie[:year] %> </li>
          <li>Genre: <%= movie[:genre] %> </li>
          <li>Description: <%= movie[:description] %> </li>
          <li>Director: <%= movie[:director] %> </li>
          <li>Actors: <%= movie[:actors] %> </li>
        </ul>
    </ul>
  <% end %>
</body>

</html>